


<h1>Voici la liste des villes pour le département {{departement.nom}}</h1>

<ul>
    {% for ville in page_obj %}

    <li>{{ville.nom}}, {{ville.code_postal}}</li>
    {% endfor %}
</ul>

        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">Précédent</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Suivant</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Dernière &raquo;</a>
        {% endif %}


